body {
  font-family: "Rubik", sans-serif;
}
h1 {
  color: blue;
  font-weight: 900;
  font-family: "Roboto Mono", monospace;
}

.wrapper {
  max-width: 700px;
  margin: 30px auto;
}

form {
  display: block;
}
h2,
h4 {
  margin-top: 10px;
}
h2 {
  color: cornflowerblue;
  font-weight: 700;
}
h4 {
  color: blue;
  font-weight: bolder;
}
#icon {
  padding-top: 50px;
}
#searching {
  color: burlywood;
  font-size: 12px;
}
.temperature {
  font-size: 50px;
}
.units {
  position: relative;
  top: -25px;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
