body {
  font-family: "Rubik", sans-serif;
}
h1 {
  color: rgb(45, 44, 44);
  font-weight: 900;
  font-family: Georgia, "Times New Roman", Times, serif, monospace;
  margin-top: -20px;
  font-size: 50px;
}

.wrapper {
  max-width: 700px;
  margin: 30px auto;
}

form {
  display: block;
}
h2,
h4 {
  margin-top: 10px;
}
h2 {
  color: cornflowerblue;
  font-weight: 700;
}
h4 {
  color: blue;
  font-weight: bolder;
}
#icon {
  padding-top: 50px;
}
#searching {
  color: burlywood;
  font-size: 12px;
}
.temperature {
  font-size: 60px;
}
.units {
  position: relative;
  top: -25px;
}
.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
span {
  font-size: 18px;
}
li {
  font-size: 18px;
  list-style: none;
  opacity: 0.7;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
#description {
  font-size: 30px;
}
.btn-primary {
  padding: 10px 30px;
}
.form-control {
  padding: 10px 30px;
}
.btn-success {
  padding: 10px 10px;
  margin-left: 10px;
}
